.App {
  text-align: center;
}

.slider-wrapper {
  display: flex;
  justify-content: center;
  margin: 100px;
  position: relative;
  height: 300px;
  border: 1px solid green;
}
.slider {
  width: 660px;
  overflow-x: hidden;
  display: flex;
  gap: 20px;
}
.slider-item {
  border: 1px solid pink;
  position: relative;
}

.slider-img {
}
.slider-text-bg {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: lightblue;
  opacity: 0.8;
  width: 200px;
  height: 120px;
  z-index: 3;
}
.slider-text {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 5px;
  width: 200px;
  height: auto;
  z-index: 5;
}
.slider-btn {
  background: transparent;
  outline: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 0 30px;
  font-size: 24px;
}
.slider-btn:hover {
  color: pink;
}

.moveLeft {
  transform: translateX(440px);
}
.moveRight {
  transform: translateX(-440px);
}
